$rg-content-text-color: black;
$cell-text-color: black;

@import '@silevis/reactgrid/styles.scss';

.summary-table-container {
  width: 100px; // just so that it has some basis to stretch out
  font-size: 0.8rem;
  flex: auto;
  overflow-x: scroll;

  .rg-header-cell {
    justify-content: center;
    font-weight: bold;
  }
  .rg-header-cell[data-cell-rowidx="0"]:last-of-type {
    border-right-color: red;
  }

  .rg-header-cell[data-cell-colidx="0"] {
    justify-content: flex-start;
  }

  .last-period {
    border-right-color: black !important;
  }

}