$rg-content-text-color: black;
$cell-text-color: black;

$dark-border: rgba(black, 0.3);

$cell-padding-vertical: 0;
$cell-padding-horizontal: 4px;
$cell-padding: $cell-padding-vertical $cell-padding-horizontal;
@import '@silevis/reactgrid/styles.scss';


.summary-table-container {
  width: 100px; // just so that it has some basis to stretch out
  font-size: 0.8rem;
  flex: auto;
  overflow-x: scroll;

  .rg-header-cell {
    justify-content: center;
    font-weight: bold;
  }

  .series-name {
    flex: 1;
    margin: -$cell-padding-vertical -$cell-padding-horizontal;
    padding: $cell-padding;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    &:hover {
      background-color: rgba(black, 0.05);
    }
  }

  .rg-cell[data-cell-colidx="0"],
  .last-period {
    border-right-color: $dark-border !important;
  }

  .rg-header-cell[data-cell-rowidx="1"] {
    border-bottom-color: $dark-border !important;
  }

  .rg-cell {
    .chevron {
      cursor: pointer;
      margin-left: 0.2rem;
      margin-right: 0.3rem;
      transition: transform 0.2s;
    }
    &.expanded .chevron {
      transform: rotate(90deg);
    }
  }

  .rg-pane.rg-pane-left {
    z-index: 1;
  }

  .rg-pane.rg-pane-top {
    z-index: 2 !important;
  }

  .rg-pane.rg-pane-right.rg-pane-top {
    z-index: 3 !important;
  }

  .rg-pane.rg-pane-left.rg-pane-top {
    z-index: 3 !important;
  }

  .legend {
    margin-left: auto;
  }

}

