$rg-content-text-color: black;
$cell-text-color: black;

@import '@silevis/reactgrid/styles.scss';

.summary-table-container {
  width: 100px; // just so that it has some basis to stretch out
  font-size: 0.8rem;
  flex: auto;
  overflow-x: scroll;

  .rg-header-cell {
    justify-content: center;
    font-weight: bold;
  }

  .series-name {
    justify-content: flex-start;
  }

  .first-series {
    border-top: 1px solid rgba(black, 0.3) !important;
  }

  .last-period {
    border-right-color: rgba(black, 0.3) !important;
  }

}