.inflation-table-container {
  table {
    table-layout: fixed;
    border-spacing: 0;
    td {
      text-align: right;
      padding: 2px 8px;
    }
    .sticky-column-header {
      text-align: left;
      position: sticky;
      left: 0;
      min-width: 100px;
      background-color: white;
      border-right: 2px solid #aaa;
    }
    th.sticky-column-header {
      text-align: center;
    }
    .right-border:not(:last-child) {
      border-right: 1px solid #aaa;
    }
    // bottom border for header rows
    tbody tr:first-child td {
      border-top: 1px solid #aaa;
    }
  }
  width: 100px; // just so that it has some basis to stretch out
  font-size: 0.8rem;
  flex: auto;
  overflow-x: auto;
}